<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Homepage</title>
    <link rel='stylesheet' href='/stylesheets/indexstyle.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="/scripts/script.js"></script>
  </head>
  <body>
    <div id='top-nav'>
      <ul>
        <li>
          <form action="../">
            <input type="submit" value="Home">
          </form>
        </li>
        <li>
          <button>Logout</button>
        </li>
      </ul>
    </div>
    <div id='display'>
      <div id='left-nav'>
        <ul>
          <li><form action="/posts/newpost">
            <input type="submit" value="New Post">
          </form></li>
          <li><button href="#">Sort by Topic</button></li>
          <li><button href="#">Sort by Comments</button></li>
          <li><button href="#">Sort by Votes</button></li>
          <li><button href="#">Random Topic</button></li>
        </ul>
      </div>
      <div id='posts'>
        <%posts.forEach(function (post, i) { %>
          <div class='individual-post'>
            <button class='expand'>Expand</button>
            <h1> Title: <%= post.title %> </h1>
            <p> Post: <%= post.post %> </p>
            <p> Posting Date: <%= post.date %> </p>
            <input type="submit" id="up-vote" value="Up Vote" />
            <p class='votes'>0</p>
            <input type="submit" id="down-vote" value="Down Vote" />
            <h3>Comments: </h3>
            <p><%= post.comments %></p>
            <form action="/posts/<%=post._id%>/comments" method="post">
                <textarea id="comment" name='comments' placeholder="Comment"></textarea></br></br>
                <input id="comment-submit" type="submit" value="Submit">
              </form>
              <a href="/posts/<%=post._id%>/edit">Edit</a>
              <form action="/posts/<%=post._id%>/?_method=DELETE" method="post">
                <input type="submit" value="Delete">
              </form>
            </div>
          <% }) %>
    </div>
  </body>
</html>
